@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --bg-dark: #0b0223;
  --bg-white: #ffffff;
  --bg-off-white: #fffff4;
  --bg-light-gray: #f1f1f1;
  --bg-royal-blue: #2a1e59;
  --bg-olive: linear-gradient(180deg, #a4bc46 0%, #85a019 100%);
  --bg-blue: linear-gradient(180deg, #3d4ff3 0%, #3543bc 100%);

  --text-white: #ffffff;
  --text-primary: #3e3e3e;
  --text-dark: #363958;
  --text-medium-dark: #3c3c3c;
  --text-green: #76c27e;
  --text-olive: #a4bc46;
  --text-yellow: #fabe4c;
  --text-orange: #fa804c;

  --font-regular: "Roboto", sans-serif;
  --font-special: "Bebas Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-regular);
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
}

p {
  color: var(--text-primary);
  font-family: var(--font-regular);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}
a {
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  color: var(--text-medium-dark);
  font-family: var(--font-regular);
}
a:hover,
a:focus {
  text-decoration: none;
  outline: 0 solid;
  color: var(--text-white);
}

img {
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: var(--font-regular);
  color: var(--text-dark);
}
.section-padding {
  padding: 80px 0;
}
.container {
  width: 1440px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-justify {
  text-align: justify;
}
.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.flex {
  display: flex;
}
.flex-dir {
  flex-direction: column;
  justify-self: center;
  gap: 24px;
}
.inline-block {
  display: inline-block;
}
.btn {
  border-radius: 10px;
  color: var(--text-white);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 18px 34px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btn-olive {
  background: var(--bg-olive);
}
.btn-orange {
  background: var(--bg-orange);
}
.btn-dark-blue {
  background: var(--bg-royal-blue);
}
.btn-blue {
  background: var(--bg-blue);
}
.btn img {
  height: 24px;
  width: 24px;
}
.btn-inner {
  gap: 10px;
}
.highlight-green {
  color: var(--text-green);
}
.highlight-olive {
  color: var(--text-olive);
}
.highlight-yellow {
  color: var(--text-yellow);
}
.highlight-orange {
  color: var(--text-orange);
}
.highlight-blue {
  color: var(--text-dark);
}
/* header container styles */
#header-container {
  background: var(--bg-off-white);
  position: relative;
  z-index: 1;
}
#header-container::after {
  position: absolute;
  content: "";
  top: 0;
  left: 35%;
  width: 150px;
  height: 61px;
  background-image: url(../images/icons/header-absolute.png);
  z-index: -1;
}
/* navbar styles */

.logo {
  grid-column: 1 / 4;
  align-self: center;
}
nav {
  grid-column: 9 / 13;
  align-self: center;
}
.navbar-container {
  padding: 45px 0;
}
ul.nav-links {
  justify-content: space-between;
  align-items: center;
  transition: all ease-out 0.3s;
}
ul.nav-links > li > a {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
}
ul.nav-links > li > a:hover {
  color: var(--text-green);
}
.mobile-nav {
  display: none;
}
/* banner styles */
.banner-text {
  grid-column: 1 / 6;
  align-self: center;
  padding: 80px 0;
}
.banner-text-right {
  grid-column: 8 / 13;
}
.banner-text h2 {
  font-family: var(--font-special);
  font-size: 6.5rem;
  line-height: 1;
  font-weight: 500;
}
.banner-text p {
  font-size: 1.5rem;
}
.banner-img {
  grid-column: 8 / 13;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  padding: 40px 0 0;
}
.banner-img img {
  width: auto;
}
.img-bg-1 {
  background-image: url(../images/icons/olive.png);
  position: relative;
}
.img-bg-2 {
  grid-column: 1 / 6;
}
.img-bg-1 img {
  position: absolute;
  left: 8%;
  top: -4%;
  height: 570px !important;
}

.img-bg-3 {
  background-image: url(../images/icons/green.png);
}
.img-bg-3 img {
  height: 490px !important;
}
/* services styles */
.services-content {
  grid-column: 1 / 6;
}
.single-service-box {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 16px;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  padding: 25px;
}
.service-icon img {
  width: 120px;
  height: auto;
}
.service-text h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.service-text p {
  font-size: 1.2rem;
}
.service-img {
  grid-column: 7 / 13;
  align-self: center;
}
/* Product cards styles */
.section-title {
  margin-bottom: 30px;
}
.section-title .title {
  grid-column: 1 / 13;
  font-family: var(--font-special);
  font-size: 3rem;
}
.product-cards-container {
  gap: 30px;
}
.single-product-card {
  grid-column: span 4;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 24px;
}
.product-img {
  border-radius: 20px;
  background: var(--bg-light-gray);
  padding: 24px 34px;
  text-align: center;
}
.product-img img {
  height: 300px;
}
.product-details .title {
  font-size: 1.5rem;
  font-weight: 700;
}
.btn-container {
  align-items: center;
  justify-content: space-between;
}
.price-green {
  color: var(--text-green);
  font-size: 2.9rem;
  font-weight: 900;
}
.price-yellow {
  color: var(--text-yellow);
  font-size: 2.9rem;
  font-weight: 900;
}
.price-orange {
  color: var(--text-orange);
  font-size: 2.9rem;
  font-weight: 900;
}
